html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/Frame.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.svg {
    width: 24px !important;
    height: 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cd7d3f;
}

.p {
    color: #cd7d3f;
}

.a {
    margin-top: 0.3rem;
    text-decoration: none;
}

.button {
    background-color: transparent;
    border: none;
}

input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1.5px #cd7d3f;
    color: #fff;
    font-size: 0.7rem;
    font-family: roboto;
    outline: none;
}

input::placeholder {
    color: #fff;
    font-family: roboto;
    font-size: 0.7rem;
}

.effectButton {
    margin-left: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.click {
    border-bottom: 2px #cd7d3f solid;
}

.svg_top {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

ul::-webkit-scrollbar {
    display: none;
}
